.contenedor{

background-color: rgb(182, 248, 255);


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

}

.rece{
    text-align: center;
}

    