{% extends 'base.html' %}

{% block contenido %}
  <h1>Sobre Nosotros</h1>
  
  <p>Bienvenido a nuestro sitio web de recetas. Somos un apasionado equipo de entusiastas culinarios que amamos compartir nuestras recetas y experiencias gastronómicas.</p>

  <h2>Nuestra Misión</h2>
  <p>Nuestra misión es inspirar a las personas a explorar el mundo de la cocina y descubrir el placer de crear y disfrutar de deliciosas recetas.</p>

  <h2>Equipo</h2>
  <p>Nuestro equipo está formado por chefs experimentados, amantes de la comida y expertos en compartir conocimientos culinarios. Trabajamos juntos para brindarte las mejores recetas y consejos culinarios.</p>

  <h2>Contacto</h2>
  <p>Si tienes alguna pregunta, sugerencia o simplemente quieres decir hola, no dudes en ponerte en contacto con nosotros a través de nuestro correo electrónico: <a href="mailto:patoncho31@hotmail.com">patoncho31@hotmail.com</a>.</p>

{% endblock contenido %}

